body {
    background-color: #e5eec5;
    color: #000;
}

h1, h3 {
    color: #db8b97;
}

b {
    color: #541e16;
}

h2 {
    color: #295128;
}

a:link, a:visited, a:active {
    color: #9da9c9;
}

a:hover {
    color: #bdb4c9;
}