body {
  background-color: #e5eec5;
  color: #000;
  font-family: 'Quicksand', sans-serif;
}

hr {
  height: 1px;
  background: #fff;
  border: 0;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul > li {
    display: inline-block;
    
  }
  a:link, a:visited, a:active {
    color: white;
    text-shadow: 0 0 5px #2a4793;
    text-decoration: none;
    background: linear-gradient(to right, #ddd7e5, #adb8d6);
    border-radius: 2px;
    padding: 3px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #887b99;
  }
  a:hover {
    color: #db8b97;
    text-shadow: 1px 1px 2px #c3e6cb;
  }
}

.wrap {
  width: 95%;
  margin: auto;
}

.post {
  border: 1px solid black;
}

.top-matter {
  border: 1px solid black;
}

.post-content {
  line-height: 150%;
}

.post-content:first-letter {
  font-family: 'Solway', serif;
  font-size: 2em;
  color: #295128;
}

h1 {
  font-family: 'Reenie Beanie', sans-serif;
  color: #db8b97;
  text-shadow: 2px 2px 1px #000000b3;
}

h2 {
  font-family: 'Solway', serif;
  color: #295128;
}

h3 {
  font-family: 'Reenie Beanie', sans-serif;
  color: #db8b97;
  font-size: 2em;
}

a:link, a:visited, a:active {
  color: #9da9c9;
  text-decoration-thickness: 1px;
}

a:hover {
  color: #db8b97;
  text-shadow: 1px 1px 2px #c3e6cb;
}

b {
  color: #541e16;
}